
@{
    ViewData["Title"] = "Search Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12">
    <form id="form-search"
          data-search-url="@Url.Action("ProductList","SearchProduct")">
        <div class="input-group" id="adv-search">
            <input type="text" class="form-control" name="keyword" placeholder="Search for snippets" />
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" id="btn-search">Search</button>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="result">

</div>

@section Scripts{
    <script src="~/js/ProductSearch.js"></script>
    <script src="~/js/ProductList.js"></script>
    <script type="text/javascript">
        var productSearch = new ProductSearch($("#form-search"));
        productSearch.Register();
    </script>
}


